body{
  background-color: black;
  color: white;
}
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.heading {
  color: white;
}

/* Countdown timer */
.timer {
  color: white;
  text-align: center;
  width: 20rem;
  height: 20rem;
  border: 5px solid white;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
}

.btn {
  padding: 0;
}

.fa-play,
.fa-redo-alt {
  color: white;
  border: 2px solid transparent;
  padding: 1rem;
  border-radius: 2rem;
}

.fa-play:hover,
.fa-redo-alt:hover {
  color: white;
  border: 2px solid white;
  transition: 0.3s ease;
}

/* Dynamic class */
/* Make the message visible */
.show_message {
  display: block;
  padding: 1rem 0;
  color: white;
  background: #e3f6f5;
  border-radius: 0.5rem;
  transition: 0.5s ease;
}
.fa-home{
  margin-top: 1%;
  margin-left: 1%;
  color: #ffffff;
}